*{
  padding: 0;
  margin:0;
  font-family:'Nunito Sans';
  font-style: normal;
}

body{
  margin:0px;
  padding:0px;
}
.main{
  background: #F2F2F2;
  /* padding: 0 81px; */
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}
.App {
  text-align: center;
}
 /* styling header component */
.header{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding: 0 81px;
}
.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:80px;


}
.header_container .logo{
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
 .switch{
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
/* styling filter component */
.inputs{
  padding: 0 81px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search{
  display: flex;
  align-items: center;
  padding-left: 32px;
  width: 480px;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}
.search input{
  margin-left:24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border:none;
  outline: none;
}
.input_select{
  display: flex;
  align-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  height: 56px;
}
.input_select select{
  border: none;
  outline:none;
  padding-right: 47px;
  padding-left: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* color: #111517; */
}
/* stlying countries component */
.country_container{
  margin-top: 48px;
  flex-wrap: wrap;
  padding:0 79px;
  display: flex;
  column-gap: 75px;
  justify-content:space-between;
  row-gap: 94px;
  
}
.country{
  height:325px;
  width: 264px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.flag_container{
  width: 100%;
  height:50%;
}
.flag_container img{
 width:100%;
 object-fit: cover;
 height:100%;
 box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
 border-radius: 5px 5px 0px 0px;

}

.details{
  margin-top: 24px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50%;
  /* box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
border-radius: 5px; */
}

.details .name{
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}
.header2{
  margin-top: 13px;
  /* padding:2px; */
}
.details h2{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
  padding: 4px;
}
.details h2 span{
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color:rgba(0, 0, 0, 0.712);
  opacity: 2;
  /* color: #111517; */
}
/* styling details component */

.details_container{
  background: #FFFFFF;
  height: 100vh;
}

.button_holder{
  border:none;
  display: flex;
  align-items: center;
  width:136px;
  height:40px;
  background: #FFFFFF; 
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
  margin-left: 80px;
  margin-top: 80px;
}
.button_holder i{
  padding: 15px;

}
.button_holder:hover{
  background:rgba(252, 252, 252, 0.911); 
  cursor: pointer;
}
.back_button{
  background: #FFFFFF; 
  border:none;
  outline: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.back_button:hover{
  background:rgba(252, 252, 252, 0.911); 
  cursor: pointer; 
}

/* styling country component */
.detailsx{
  display: flex;
  column-gap: 20;
  flex-direction: row;
  margin-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  background: #FFFFFF;
}
.details_flag{
  width: 50%;
}
.details_information{
 width:50%;
 margin-top: 40px;
 height: 323px;
}
.details_information h1{
  font-weight: 800;
font-size: 32px;
line-height: 44px;
}
.details_information h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* color: #111517; */
}
.columns{
  margin-top: 23px;
  display: flex;
  margin-bottom: 68px;
  justify-content: space-between;
 
}
.inner_text{
  font-weight: lighter;
  font-size: 16px;
  line-height: 14px;
  color:rgba(0, 0, 0, 0.712);
}

.border_button{
 font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  width:96px;
  margin:10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
  border:none;
}

.detailsx img{
 height:401px;
 width: 560px;
 box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.0294384);
 border-radius: 10.0057px;
}
.column_1{
  margin-top: 0px;
  width:30%;
}
.column_2{
  width:300px;
}

/* styling DarkMode */
.main.dark{
  background: #202C36;
  color:white;
}
.header.dark{
  background: #2B3844;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.search.dark{
  background: #2B3844; 
}
.inp.dark,textarea{
  background: #2B3844;
}
.inp.dark::placeholder{
  color: #FFFFFF;
}
.inp.dark{
  color: #FFFFFF;
}
.input_select.dark{
  background: #2B3844;
}

.selec.dark,textarea{
  background: #2B3844;
  color: #FFFFFF;
}

.selec.dark option{
  color: #FFFFFF;
}

.details.dark{
  background: #2B3844;
  color:white;
}
.country.dark{
  background: #2B3844;
  color: #FFFFFF;
}

.details.dark .name {
  color: #FFFFFF;
}
.details.dark h2 span {
  color: rgba(255, 255, 255, 0.747);
}
.header2.dark h2{
  color:#FFFFFF;
}
/* details component */
.details_container.dark{
  background: #202C36;
}
.detailsx.dark{
  background: #202C36;
}
.button_holder.dark{
  background: #2B3844;
}
.button_holder.dark button{
  background: #2B3844;
  color:#FFFFFF;
}
.column_1.dark .inner_text{
  color: rgba(255, 255, 255, 0.747);
}
.column_2.dark .inner_text{
  color: rgba(255, 255, 255, 0.747);
}
.column_1.dark .name{
  color:#FFFFFF;
}
.column_2.dark .name{
  color:#FFFFFF;
}
.border_button.dark{
  background: #2B3844;
  color:#FFFFFF;
}

/* RESPONSIVNESS STYLING */

/* MOBILE  */
@media only screen and (max-width: 600px) {
  .header{
    padding: 0 16px;
  }

  .header_container .logo{
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
  }
  .switch{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
   
  }
/* end of header component */

 /* filter component */
 .inputs{
  padding: 0 16px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search{
  width: 343px;
  height: 48px;
}
.search input{
  margin-left:26px;
  font-size: 12px;

}
.input_select{
  margin-top: 40px;
  width: 200px;
  height: 48px;
}

.input_select select{
  padding-right: 47px;
  padding-left: 18px;
  font-size: 12px;
}
/* end of filter component */

/* country component */
.country_container{
  margin-top: 32px;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  
}
/* end of country component */

/* details component */
.button_holder{
  width:104px;
  height:32px;
  border-radius: 2px;
  margin-left: 28px;
  margin-top: 40px;
}
.back_button{
  font-size: 14px;
  line-height: 20px;
}
.button_holder i{
  padding: 15px;

}
.details_container{
  background: #FFFFFF;
  height: 100vh;
  width:100vw;
}
.detailsx{
  display: flex;
  flex-direction: column;
  align-items:center;
  column-gap: 0;
  justify-content:flex-start;
  height:100%;
  margin-top: 64px;
  padding-left: 0px;
  padding-right: 0px; 

}
.details_flag{
  height: 229px;
  width: 320px;
}

.detailsx img{
 width:100%;
 height:100%;
 object-fit: cover;
 }
 .details_information{
   display: flex;
   margin-top: 44px;
   width: 320px;
   flex-direction: column;
  margin-top: 40px;
 }
 .details_information h1{
  font-size: 22px;
  line-height: 30px;
}
 .details_information h3{

  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
 
}
.inner_text{
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  color:rgba(0, 0, 0, 0.712);

  
}
 .columns{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
  justify-content: space-between;  
}
.column_1{
  margin-bottom: 32px;
  width:100%;
}
.column_2{
  width:100%;
}
.border_button{
  width:96px;
  font-size: 12px;
  line-height: 16px;
  margin:0px;
}
.span-borders{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

}

/* TABLET VIEW */

/* @media only screen and (min-width: 601px) and (max-width: 896px) {
  .search{
    width: 390px;
  }
} */